<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1>New Gigs</h1>
          <%= render 'form' %>
          <%= link_to 'Cancel Gigs', root_path, class:'btn btn-link' %>
        </div>
      </div>
    </div>
  </div>
</div>

