@import "bootstrap";
body{
  background-color: #f4f4f4 !important;
  font-family: Arial, Hevetica, sans-serif;
}
.bg-navbar{
  background-color: #fff !important;
}
.navbar ul li a{
        display: block !important;
        padding: 15px !important;
        color: #333 !important;
        text-decoration: none !important;
        text-align: center;
    }
.navbar ul li ul.dropdown{
        min-width: 125px; /* Set width of the dropdown */
        background: #f2f2f2;
        display: none;
        position: absolute;
        z-index: 999;
        text-align: center;
        left: 0;
    }
    ul li:hover ul.dropdown{
        display: block; /* Display the dropdown */
    }
    ul li ul.dropdown li{
        display: block;
    }

.logo_brand{
  font-size: 20px !important;
  font-family: Arial, Hevetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #d5641c !important;
}
.main-photo{
  width: 100%;
  height: 100%;
  margin-top: 25px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%);
  background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%);
}
.nametag-photo{
  width: 100%;
  background-size: cover;
  position: relative;
  opacity: 0.6;
  filter: alpha(opacity=40);
}
.group-title{
  position: absolute;
  text-decoration: none;
  margin-top: -128px;
  padding: 10px;
  h3 a{
    color: white;
    text-decoration: none;
  }
  p a{
    color: white;
    text-decoration: none;
  }
}
.show-content{
  background-color: #fff;
  margin-top: -42px;

}
.image-content{
  margin-left: 20px;
  margin-bottom: 10px;
}
.banner-img{
  margin-top: -20px;
}
.chapter-banner{
  background-color: #c53236;
  padding: 12px 12px 12px;
  margin-bottom: 20px;
  margin-top: 40px;
  border-bottom: 8px solid rgba(255,255,255,.25);
  h1{
    color: #fff;
    text-align: center;
    line-height: 2em;
  }
}
.doc-content{
  font-size: 17px;
  line-height: 2.1em;
  margin-left: 10px;
}


.transition-timer-carousel .carousel-caption {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 4%, rgba(0,0,0,0.5) 32%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(4%,rgba(0,0,0,0.1)), color-stop(32%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  width: 100%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: left;
  padding-top: 5px;
  padding-left: 15%;
  padding-right: 15%;
}
.transition-timer-carousel .carousel-caption .carousel-caption-header {
  margin-top: 10px;
  font-size: 24px;
}

@media (min-width: 970px) {
    /* Lower the font size of the carousel caption header so that our caption
    doesn't take up the full image/slide on smaller screens */
  .transition-timer-carousel .carousel-caption .carousel-caption-header {
    font-size: 36px;
  }
}
.carousel-inner{
  img{
    width: 100% !important;
    height: 400px !important;
    background-position: center center !important;
    background-size: cover !important;

  }
}
.transition-timer-carousel .carousel-indicators {
  bottom: 0px;
  margin-bottom: 5px;
}
.transition-timer-carousel .carousel-control {
  z-index: 11;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar {
    height: 5px;
    background-color: #5cb85c;
    width: 0%;
    margin: -5px 0px 0px 0px;
    border: none;
    z-index: 11;
    position: relative;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar.animate{
    /* We make the transition time shorter to avoid the slide transitioning
    before the timer bar is "full" - change the 4.25s here to fit your
    carousel's transition time */
    -webkit-transition: width 4.25s linear;
  -moz-transition: width 4.25s linear;
  -o-transition: width 4.25s linear;
  transition: width 4.25s linear;
}
