<hr>
<div class="footer bg-navbar">
<div style="text-align:center">
  <%= link_to 'About', '#' %>
<%= link_to 'Contact', '#' %>
</div>

<p style="text-align:center">    Copyright &copy; 2015.
    <%= link_to ' Devboostrap Gigs Team', root_path %></p>
</div>
